body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.page-container {
  flex: 1;
}

.header,
.hero-section,
.footer {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 100px;
}

.header .header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.header ul {
  list-style-type: none;
  display: flex;
  gap: 15px;

  padding: 0;
  margin: 0;
}

.header a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.hero-section {
  display: flex;
  padding: 100px;
  gap: 25px;
}

.hero-section .hero-content {
  flex: 1;
}

.hero-section h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0;
}

.hero-section p {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 5px;
  margin-bottom: 18px;
}

.hero-section button {
  background-color: #3882f6;
  color: #e5e7eb;
  border: none;
  border-radius: 5px;
  padding: 5px 30px;
  font-size: 18px;
}

.hero-section .hero-image-placeholder {
  background-color: grey;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
